In [3]:
import sqlite3

In [4]:
connection=sqlite3.connect('example.db')

In [5]:
connection

In [7]:
cursor=connection.cursor()

In [8]:
## Create a table
cursor.execute(
    '''
 Create Table if Not Exists employees(
  id Integer Primary Key,
  name Text Not Null,
  age Integer,
  department text)
'''
)

In [9]:
connection.commit()

In [12]:
cursor.execute(
    '''Select * from employees'''
)

In [13]:
## Insert the data in sqlite table
cursor.execute(
    ''' Insert into employees(name,age,department) values('krish',32,'Data Scientist')'''
)
cursor.execute(
    ''' Insert into employees(name,age,department) values('krishna',321,'Datae')'''
)
cursor.execute(
    ''' Insert into employees(name,age,department) values('kriddsh',432,'Data analysit')'''
)
cursor.execute(
    ''' Insert into employees(name,age,department) values('krsh',42,'Scientist')'''
)

In [14]:
connection.commit()

In [15]:
cursor.execute(
    ''' Select * from employees'''
)

In [16]:
rows=cursor.fetchall()
for row in rows:
    print(row)

(1, 'krish', 32, 'Data Scientist')
(2, 'krishna', 321, 'Datae')
(3, 'kriddsh', 432, 'Data analysit')
(4, 'krsh', 42, 'Scientist')

In [17]:
connection=sqlite3.connect('sales_data.db')
cursor=connection.cursor()

# Create a table for sales dara
cursor.execute(
    ''' 
Create table if not exists sales (
id Integer Primary key,
date text not null,
product text not null,
sales integer,
region text)'''
)

In [18]:
## insert data inot the sales table
sales_data =[
    ('2023-01-01','Product1',100,'North'),
    ('2023-01-02','Product2',200,'East'),
    ('2023-01-03','Product3',400,'West'),
    ('2023-01-04','Product4',300,'South')
]

In [23]:
connection.commit()

In [22]:
# insert multiple value in single time
cursor.executemany(
    '''insert into sales(date,product,sales,region)values(?,?,?,?)''',sales_data
)

In [ ]:
## insert mutliple value at single time
ConnectionRefusedErro

In [26]:
cursor.execute(
    '''select * from sales'''
)

In [27]:
rows=cursor.fetchall()

In [28]:
for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'East')
(3, '2023-01-03', 'Product3', 400, 'West')
(4, '2023-01-04', 'Product4', 300, 'South')

In [29]:
connection.close()